:root { 
    --white: #ffffff;
    --light-gray: #f1f5f9;
    --gray-ccc: #ccc;

    --white-90: rgba(255,255,255,0.9); 
    --white-80: rgba(255,255,255,0.8); 
    --white-50: rgba(255,255,255,0.5);
    --white-30: rgba(255,255,255,0.3);
    --white-20: rgba(255,255,255,0.2);
    --white-15: rgba(255,255,255,0.15);
    --white-10: rgba(255,255,255,0.1);  

    --purple-dark: #5c45bf; 
    --purple-trans: rgba(92,69,191,0.5);  

    --gold: #FFD700;
    --yellow-light: #fdf485;
    --baby-yellow:#faf6d5;
    --yellow-soft: rgba(253,244,133,0.3);
    --gold-light-30: rgba(255,215,0,0.3);
    
    --pink-soft: #dd78a0; 

    --black: #000000;
    --gray-333: #333;
    --gray-444: #444;
    --gray-666: #666;
    --gray-999: #999;
    --brownish: #433c30;

    --black-20: rgba(0,0,0,0.2);
    --black-10: rgba(0,0,0,0.1);
    --black-08: rgba(0,0,0,0.08);
    --black-05: rgba(0,0,0,0.05); 
    --black-06:rgba(0, 0, 0, 0.386); 
}



